# System / OS
.DS_Store
Thumbs.db

# Environments / Workspaces
workspaces/
backend/workspaces/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node / JS
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.local/

# Local env files
.env
.env.local
.env.development
.env.test
.env.production
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
